<div class="container">
    <div class="navbar navbar-inverse">
        <nav class="navbar navbar-expand-md navbar-light fixed-top">
            <a class="navbar-brand" href="~/HelloWorld.cshtml">
                <strong>Forms and Razor</strong>
            </a>
            <button class="navbar-toggler" type="button"
                    data-toggle="collapse" data-target="#navbarMenuName"
                    aria-controls="navbarMenuName" aria-expanded="false"
                    aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMenuName">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="~/HelloWorld.cshtml"
                           style="color:black">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"
                           id="navbarSubMenu" data-toggle="dropdown"
                           style="color:black"
                           aria-haspopup="true" aria-expanded="false">
                            Samples
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarSubMenu">
                            <a class="dropdown-item"
                               href="~/SamplePages/TextBox.cshtml"
                               style="color:black">
                                TextBoxes and Buttons
                            </a>
                            <a class="dropdown-item"
                               href="~/SamplePages/RadioButtons.cshtml"
                               style="color:black">
                                RadioButtons
                            </a>
                            <a class="dropdown-item"
                               href="~/SamplePages/CheckBoxes.cshtml"
                               style="color:black">
                                CheckBoxes
                            </a>
                            <a class="dropdown-item"
                               href="~/SamplePages/DropDownList.cshtml"
                               style="color:black">
                                DropDownList (Select control)
                            </a>
                            <a class="dropdown-item"
                               href="~/SamplePages/BootstrapFormatting.cshtml"
                               style="color:black">
                                Bootstrap Formatting
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"
                           id="navbarSubMenuDB" data-toggle="dropdown"
                           style="color:black"
                           aria-haspopup="true" aria-expanded="false">
                            DB Samples
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarSubMenuDB">
                            <a class="dropdown-item"
                               href="~/SamplePages/SimpleQuery.cshtml"
                               style="color:black">
                                Simple Query
                            </a>
                            <a class="dropdown-item"
                               href="~/SamplePages/MultiRecordQuery.cshtml"
                               style="color:black">
                                Multi-Record Query
                            </a>
                            <a class="dropdown-item"
                               href="~/SamplePages/Insert.cshtml"
                               style="color:black">
                                CRUD : Insert
                            </a>
                            <a class="dropdown-item"
                               href="~/SamplePages/ProductSearch.cshtml"
                               style="color:black">
                                CRUD : Update/Delete
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
