.tabs{
    position:relative;
    top:1px;
    left:10px;
}
.tab{
    border:solid 3px black;
    background-color:white;
    padding: 5px 10px;
}
.selectedTab {
    background-color: white;
    border-bottom:solid 3px white;
}
.tabContents {
    border: solid 1px black;
    padding: 10px;
    background-color: white
}
